#blocpage {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2em;
  display: flex;
  width: 60%;
  margin: auto;
  /*Ces deux marges ont étés ajouté afin d'éviter un petit espace vide en haut et en bas de la page*/
  margin-top: -8px;
  margin-bottom: -8px;
}
/* ID */

#contact {
  background-color: rgb(75, 72, 72);
  height: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#list {
  text-align: left;
  padding-left: 15px;
}
#textaside {
  margin: 15px;
}
#logo {
  display: flex;
  justify-content: space-around;
}
#textaside {
  text-align: justify;
}
#mesformations {
  display: flex;
  margin-bottom: 30px;
}

/* CLASS */
.ligne {
  border-bottom: 2px rgb(255, 190, 51) solid;
}

.date {
  flex: 25%;
}
.contenuformations {
  flex: 75%;
}
.intertitre,
.Devweb {
  list-style-type: none;
}
.intertitre {
  font-size: 1.8em;
  font-weight: bold;
  margin-bottom: 20px;
}
.orange {
  color: rgb(255, 190, 51);
}
.decalage {
  height: 100%;
}
.photo {
  text-align: center;
}
.flexend {
  bottom: 0%;
  width: 100%;
}
aside {
  display: flex;
  flex-direction: column;
  flex: 30%;
  background-color: rgb(255, 201, 51);
}
section {
  padding-left: 6%;
  flex: 70%;
}

aside h3 {
  color: rgb(255, 201, 51);
}

h1 {
  font-size: 3em;
}

a:visited {
  color: white;
}
footer {
  display: flex;
  justify-content: space-around;
}
aside img {
  border-radius: 200px;
  padding: 2px;
  border: 5px black solid;
}

@media screen and (max-width: 1024px) {
  #blocpage {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  aside {
    flex: 50%;
  }
  section {
    flex: 50%;
  }
}
